<!DOCTYPE html>
<head>
	<title>Techcamp Saigon Uni 2015</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/material.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/main.css">
  
</head>
<body>
  <div id="app"></div>
  <script src="/assets/main.js"></script>
</body>
</html>